<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pagination">

	<sql id="prefixPagination">
		<if test='pagingEnable != null and pagingEnable == "1"'>
			SELECT * FROM (SELECT RESULT_LIST.*, ROWNUM AS RNUM FROM(
		</if>
	</sql>
	
	<sql id="suffixPagination">
		<if test='pagingEnable != null and pagingEnable == "1"'>
			<![CDATA[) RESULT_LIST WHERE ROWNUM <= #{lastIndex}) WHERE RNUM > #{firstIndex}]]>
		</if>
	</sql>
	
	<sql id="orderby">
		<if test='condOrder != null'>
			ORDER BY ${condOrder}
			<if test='condAlign != null'>
				${condAlign}
			</if>
		</if>
	</sql>
	
</mapper>