@charset "UTF-8";

	* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #333332;
}

	body{
	display: flex;
    background-color: #f6eee9;
    font-family: 'NanumSquareNeo';
	height: 100%;
}

	ul{
   list-style:none;

   }
	a {
  text-decoration: none;
	}

	.backImg{
	float:left;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	cursor:pointer;
	
	}
	
	.container{
	width: 100%;
	float:left;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 80% 5%;
	}
	
	.title{
	padding: 30px;
	text-align:center;
	align-items : center;
	border-bottom:1px solid #e6c1aa;
	/* border:1px solid #e6c1aa;
	background-color:#fae9de;
 */	
	}
	
	.noList{
	margin: 20px 20px 0px 50px;
	padding-top: 30px; 
	}
	
	.postList{
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: repeat(5,100px);
   /* grid-gap: 1px;*/
	}
	
	.postLink{
	width:100%;
	border-bottom:1px solid #e6c1aa;
	transition: all 0.3s ease-in-out;
	}
	
	.postLink:hover{
	  /*background-color: #fffbfa;*/
	  border: 4.5px solid #f1d3c1b7;
	  border-radius: 5px;
	}
	
	.post{
	display: grid;
	width:100%;
	height: 90%;
	grid-template-columns: 100%;
	grid-template-rows: 18px 23px 40px;
	padding: 10px;
	}
	
	
	.userNickname{
	font-size : 0.8em;
    margin-bottom: 3px;
	}
	
	.postTitle{
	margin-top: 4px;
	font-weight: bold;
	}
	
	.postContent1{
	margin-top: 7px;
	font-size: 0.8em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 1.2;
	height: 2.4em;
	}
	
	.pagenation{
	text-align: center;
	margin: 5px;
	}
	
	.pagenation span{
	  font-size: 1.5em;
	  font-weight: bold;
	  margin-right: 10px;
	  padding: 5px;
	  cursor:pointer;
	}